@import url('https://fonts.googleapis.com/css?family=Lato:400,300');

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    font-size: 12px;
}



h1.header{
    font-weight:300;
    font-size:45px;
    padding: 0px;
    margin: 0px;
}

text.header-item{
    fill: gray;
    font-size: 0.75em;
    font-size: inherit;
}

.explainer{
}

.byline, .sourceline{
    color: #999;
    font-size: 0.75em;
}

.byline {
    text-align: right
};

table.needs-table{
    width: 100%;
}

table.needs-table td{
    height: 1em;
}

.rotate{
}

rect{
    fill: #ddd;
}

rect.val-box.met{
    fill: lightskyblue;
}

rect.val-box.unmet{
    fill: gold;
}

rect.val-box{
    stroke: white;
}

rect.val-box:hover{
    cursor:pointer;
    opacity: 0.5;
}

rect.pass-fail{
    stroke:white;
}

rect.pass-fail[data-passed='false']{
    fill: tomato;
}

rect.pass-fail[data-passed='true']{
    fill: lightgreen;
}

div.copy{
    margin-top: 1em;
}

.hidden{
    opacity: 0.2;
}